h1, p{
  font-size: 30px;
  text-align: center;
}
li:hover, ul:hover{
  transition: 900ms;
  font-size: 120%;
  background-color: green;
  }

li:active, ul:active{
  transition: 500ms;
  color: whitesmoke;
}
